@charset "UTF-8";
/* CSS Document */

@media (max-width: 1400px){
	
	/*#first {
		background: #0CF;	
	}*/
	.content {
		font-size: 1em;	
	}
	
	.content li{
		padding: 1% 1% 0 0;	
	}
	
	.content li img{
		max-width: 90%;
		height: auto;	
	}
	
}


@media (max-width: 966px){
	
	.nav {
		display: none;	
	}
	
	#header {
		margin: 0 auto;	
		width: 90%;
	}
	
	#creeper{
		display: none;	
	}
	
	.content {
		width: 90%;	
		height: auto;
	}
	
	#video {
		display: none;	
	}
	
	#second {
		display: none;
	}	
	#third {
		display: none;	
	}
	
	#first iframe {
		display: block !important;
		margin: 0 auto;
		width: 90%;
		height: 21.875em;
		padding: 3% 3% 0 3%;
	}	
	
	#social_media {
		display: none;	
	}
	
	#social_media2 {
		float: right;	
		/*display: inline;*/
	}
	
	#first .button {
		width: 20%;	
		display: block !important;	
		margin-top: 4%;
	}
	
	#first .merch {
		display: inline !important;	
	}
	
	#first .merch ul {
    font-size:0;
    text-align:center;
	padding-bottom: 2%;
	
	}
	#first .merch ul li {
		display: inline;
		padding-left: 2%;
	}
	#first .merch h2{
		padding-top: 4%;
		font-size: 2em;	
	}
		
}

@media (max-width: 420px){
	#first iframe {
		height: 300px;
	}
	
}